.production_container {
  .production {
    background: #fdfaf2;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: "Lusitana";
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 65px;
      text-align: center;
      color: #000000;
    }
    .catalog {
      margin-top: 87px;
      width: 90%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 35px;
      .card {
        width: 590px;
        height: 480px;
        background: #ffffff;
        box-shadow: 0px 4px 6px rgba(207, 111, 0, 0.4);
        border-radius: 8px;
      }
    }
  }
}

@media screen and (max-width: 570px) {
  .production_container {
    .production {
      padding: 0;
      h1 {
        font-size: 40px;
        line-height: 50px;
      }
    }
  }
}
