.swiper {
  width: 500px;
  height: 602.32px;
  background: #fdfaf2;
  box-shadow: 5px 10px 60px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 0 !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  align-items: center;
  padding: 15px;
}

.swiper-slide img {
  width: 336.45px;
  height: 293.81px;
  object-fit: contain;
}

@media screen and (max-width: 570px) {
  .swiper {
    width: 300px;
    height: 400px;
  }
  .swiper-slide img {
    width: 200px;
    height: 150px;
  }
}
@media screen and (max-width: 425px) {
  .swiper {
    width: 200px;
    height: 300px;
  }
  .swiper-slide img {
    width: 150px;
    height: 100px;
  }
}
